*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	display: block;
	margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}
nav, section, header, footer {
	display: block;
}
input, a {
    outline: 0;
}

.page-wrapper {
    max-width: 1900px;
    margin: 0 auto;
}
.page-wrapper.product {
    background: #292929;
}
.page-wrapper.product section:not(.menu-section) {
    width: 1125px;
    margin: 0 auto;
}
.page-wrapper.product section.products-tabs {
    margin-top: 40px;
}

/*menu*/
section.menu-section {
    background-color: #000;
}
.section-container {
    width: 1125px;
    margin: 0 auto;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: max-content;
    margin-right: 0;
    margin-left: auto;
}
nav ul li {
    display: inline-block;
}
nav li a {
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #a9a5a5;
    font-size: 18px;
    font-weight: 400;
}
nav li a:hover, nav li a.active {
    color: #fff;
    text-decoration: underline;
}

/*header / footer*/
section.header {
    background: url(../img/header-bg.jpg) no-repeat 0 -50px;
    padding-top: 20px;
}
section.footer {
    margin-top: 23px;
}
.header-container,
.footer-container {
    display: flex;
    justify-content: space-between;
}
.header-container > div,
.footer-container > div {
    width: 50%;
}
.header-container__logo a,
.footer-container__logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header-container__logo-descr,
.footer-container__logo-descr {
    margin-left: 16px;
}
.site-name {
	font-family: 'Russo One', sans-serif;
    color:  #d18404;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 400;
}
.site-subname {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
}
.header-container__info,
.footer-container__info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-container__info {
    padding-bottom: 57px;
}
.footer-container__info {
    padding-bottom: 35px;
}
.header-container__info-phone a,
.footer-container__info-phone a {
    color: #ffffff;
    font-size: 28px;
    text-decoration: none;
    font-family: 'Russo One', sans-serif;
}
.header-container__info-callback a,
.footer-container__info-callback a {
    display: block;
    text-transform: lowercase;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #fff;
    padding: 10px 21px;
    margin-left: 34px;
}
.header-container__info-phone a {
    color: #ffffff;
}
.header-container__info-callback a {
    color: #fff;
    border: 2px solid #fff;
    transition: background .2s;
}
.header-container__info-callback a:hover {
    background: rgba(255, 255, 255, 0.2);
    transition: background .2s;
}
.footer-container__info-phone a {
    color: #363636;
}
.footer-container__info-callback a {
    color: #363636;
    border: 2px solid #363636;
    background-color: transparent;
    transition: background-color .2s;
}
.footer-container__info-callback a:hover {
    background-color: rgba(251, 176, 64, 0.18);
    transition: background-color .2s;
}
section.header.product {
    background: #292929;
    padding-top: 20px;
}
.page-wrapper.product .footer-container__info-phone a {
    color: #fff;
}
.page-wrapper.product .footer-container__info-callback a {
    color: #fff;
    border: 2px solid #fff;
}
.page-wrapper.product .footer-container {
    margin-top: 30px;
}

/* slider */
.slider-container {
    display: flex;
    justify-content: space-between;
}
.slider-info {
    margin-top: 80px;
}
.slider-title {
    background-color: #fbb040;
    font-family: 'Russo One', sans-serif;
    color: #231f20;
    font-size: 40px;
    font-weight: 400;
    width: max-content;
    text-transform: uppercase;
    padding: 1px 18px;
}
.slider-subtitle {
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    margin-top: 25px;
}
.slider-items {
    display: flex;
    justify-content: flex-start;
    margin-top: 75px;
}
.slider-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
}
.slider-item__title {
    color: #ffffff;
    font-size: 20px;
    max-width: 200px;
    text-align: center;
    margin-top: 30px;
}
.slider-self-container {
    width: 428px;
    margin-top: -65px;
    margin-left: -70px;
    /*overflow: hidden;*/
}
.slick-slide img {
    display: block;
    margin: 0 auto;
}
button.slick-arrow {
    font-size: 0;
    width: 31px;
    height: 97px;
    background: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 48%;
}
button.slick-prev.slick-arrow {
    background: url(../img/prev-arrow.png) no-repeat 0 0;
    left: -35px;
}
button.slick-next.slick-arrow {
    background: url(../img/next-arrow.png) no-repeat 0 0;
    right: -35px;
}

/* benefits */
section.benefits {
    background: url(../img/benefits-bg.jpg) repeat 0 0;
}
.benefits-title,
.preparation-stage-title,
.delivery-title
 {
    color: #363636;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Russo One', sans-serif;
}
hr {
    background-color: #fbb040;
    width: 111px;
    height: 8px;
    border: none;
    margin: 16px auto;
}
.benefits-description {
    text-align: center;
}
.benefits-items {
    display: flex;
    flex-wrap: wrap;
}
.benefits-item {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin: 36px 0;
}
.benefits-item > div {
    margin-right: 20px;
}
.benefits-item__descr-title {
    color: #303030;
    font-size: 21px;
    font-weight: 500;
}
.benefits-item__descr-text {
    color: #303030;
    font-size: 18px;
    font-weight: 300;
    margin-top: 20px;
}

/*choise*/
section.choice .section-container {
    background: #393939;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.choice-center {
    text-align: center;
}
.choice-title {
    font-family: 'Russo One', sans-serif;
    color: #fbb040;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}
.choice-subtitle {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}
.choice-action a {
    padding: 16px 23px;
    display: block;
    width: max-content;
    margin: 0 auto;
    color: #393939;
    font-size: 20px;
    font-weight: 400;
    background-color: #fbb040;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Russo One', sans-serif;
    margin-top: 38px;
    transition: background-color .2s;
}
.choice-action a:hover {
    background-color: rgb(255, 163, 25);
    transition: background-color .2s;
}
.choice-right {
    margin-right: 30px;
}

/*preparation*/
section.preparation-stage {
    margin-top: 52px;
}
.preparation-stage-container {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.preparation-stage__item {
    display: flex;
    flex-direction: column;
    height: 235px;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-top: 30px;
    max-width: 552px;
}
.preparation-stage__item-title {
    color: #363636;
    font-size: 30px;
    font-weight: 400;
}
.preparation-stage__item-text {
    color: #363636;
    font-size: 18px;
    font-weight: 400;
}
.preparation-stage__item-link a {
    font-family: 'Russo One', sans-serif;
    color: #878282;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid #fbb040;
    padding: 12px 24px;
    display: block;
    width: max-content;
}
.preparation-stage__item-link a:hover {
    color: #bd0017;
    border: 3px solid #bd0017;
}

/*product tabs*/
.products-tabs__items {
    background-color: #393939;
}
.products-tabs__items .section-container {
    padding: 30px 35px;
}
.products-tabs__item-left {
    align-self: center;
}
.products-tabs__item-title {
    font-family: 'Russo One', sans-serif;
    color: #999999;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 330px;
}
.products-tabs__item-title span {
    color: #fbb040;
    display: block;
}
.products-tabs__item {
    display: flex;
    justify-content: space-between;
}
span.label {
    width: 100%;
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-top: 60px;
}
.form-choice .price {
    color: #ffffff;
    font-size: 35px;
    font-weight: 400;
}
.form-choice {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
}
.form-choice > * {
    margin-right: 25px;
}
input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: #fff;
}
input[type="radio"] + label > span {
    display:inline-block;
    width:24px;
    height:24px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
}
input[type="radio"] + label > span {
    background-color:#fff;
    text-align: center;
}
input[type="radio"]:checked + label > span > span {
    width: 8px;
    height: 8px;
    display: inline-block;
    vertical-align: inherit;
    background-color: #393939;
    margin: 0;
    margin-bottom: 2px;
}
.choice-buy input[type="radio"]:checked + label > span > span {
    width: 12px;
    height: 13px;
    display: inline-block;
    vertical-align: inherit;
    background-color: #fbb040;
    margin: 0;
    margin-bottom: 2px;
}
.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.form-buttons >* {
    width: 49%;
    text-align: center;
}
.form-buttons a.more {
    font-family: 'Russo One', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid #fff;
    padding: 10px 12px;
    display: inline-block;
    transition: background-color .2s;
}
.form-buttons a.more:hover {
    background-color: rgba(255, 255, 255, 0.08);
    transition: background-color .2s;
}
.form-buttons a.buy {
    background-color: #ffc268;
    border: none;
    font-family: 'Russo One', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .2s;
    display: block;
    padding: 12px 0px;
}
.form-buttons a.buy:hover {
    background-color: #f3a431;
    transition: background-color .2s;
}
.products-tabs__option-title {
    color: #fbb040;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.products-tabs__option-text {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}
.products-tabs__item-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.products-tabs__option {
    margin: 19px 0;
    max-width: 350px;
}
ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    justify-content: flex-start;
}
ul.tabs li{
    background: linear-gradient(to right, #ededed , #fcfcfc);
    color: #989898;
    padding: 10px 15px;
    cursor: pointer;
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 40px 40px 0 0;
    font-family: 'Russo One', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}
ul.tabs li span {
    display: inline-block;
    height: 72px;
    padding: 33px 0 0 60px;
}
ul.tabs li[data-tab="tab-1"].current span {
    background: url(../img/product-tab-1.png) no-repeat 0 100%;
}
ul.tabs li[data-tab="tab-1"] span {
    background: url(../img/product-tab-hide-1.png) no-repeat 0 100%;
}
ul.tabs li[data-tab="tab-2"].current span {
    background: url(../img/product-tab-2.png) no-repeat 10% 100%;
}
ul.tabs li[data-tab="tab-2"] span {
    background: url(../img/product-tab-hide-2.png) no-repeat 10% 100%;
}
ul.tabs li[data-tab="tab-3"].current span {
    background: url(../img/product-tab-3.png) no-repeat 10% 100%;
}
ul.tabs li[data-tab="tab-3"] span {
    background: url(../img/product-tab-hide-3.png) no-repeat 10% 100%;
}
ul.tabs li[data-tab="tab-4"].current span {
    background: url(../img/product-tab-4.png) no-repeat 9% 100%;
}
ul.tabs li[data-tab="tab-4"] span {
    background: url(../img/product-tab-hide-4.png) no-repeat 9% 100%;
}
ul.tabs li[data-tab="tab-5"].current span {
    background: url(../img/product-tab-5.png) no-repeat 11% 100%;
}
ul.tabs li[data-tab="tab-5"] span {
    background: url(../img/product-tab-hide-5.png) no-repeat 11% 100%;
}
ul.tabs li.current{
    background: #393939;
    color: #fbb040;
}
.tab-content{
    display: none;
}
.tab-content.current{
    display: flex;
}

/*unpacking*/
section.unpacking {
    margin-top: 23px;
    padding-bottom: 50px;
    background: url(../img/unpacking-bg.jpg) no-repeat 0 115%;
}
section.unpacking .section-container {
    background-color: #393939;
}
.unpacking-title {
    color: #fbb040;
    font-size: 35px;
    font-weight: 400;
    font-family: 'Russo One', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 43px;
}
.unpacking-video-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 22px 31px 31px;
}
.unpacking-video-item {
    width: 50%;
    padding: 31px;
}

/*delivery*/
section.delivery {
    background: url(../img/delivery-bg.jpg) no-repeat 0 47%;
}
.delivery-subtitle {
    color: #393939;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 44px;
}
.delivery-subtitle span {
    color: #e81710;
}
.delivery-benefits {
    display: flex;
    justify-content: space-around;
}
.delivery-benefits__item {
    color: #363636;
    font-size: 20px;
    font-weight: 500;
    max-width: 262px;
    border-left: 12px solid #e81710;
    padding-left: 20px;
    align-self: center;
}
.delivery-benefits__item span {
    color: #e81710;
}
.delivery-ways-container {
    display: flex;
    justify-content: space-between;
    padding: 0 44px;
    background: url(../img/delivery-man.png) no-repeat 55% 0;
    height: 576px;
    padding-top: 66px;
    margin-top: 33px;
}
.delivery-ways__left {
    max-width: 300px;
}
.delivery-ways__right{
    max-width: 306px;
}
.delivery-ways__left-title,
.delivery-ways__right-title {
    color: #363636;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Russo One', sans-serif;
    margin-bottom: 40px;
}
.delivery-ways__left-item-text {
    color: #363636;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
.delivery-ways__right-text {
    color: #363636;
    font-size: 20px;
    font-weight: 500;
}
.delivery-ways__left-item-link {
    color: #ffffff;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #015aa9;
    padding: 12px 0;
    text-align: center;
    margin-bottom: 19px;
}
.page-wrapper.product .delivery-title {
    padding-top: 35px;
}

/*consultation*/
section.consultation {
    padding-top: 42px;
    padding-bottom: 74px;
    background: url(../img/consult-bg.jpg);
}
.consultation-title {
    font-family: 'Russo One', sans-serif;
    color: #fbb040;
    font-size: 44px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.consultation-form__container {
    margin-top: 50px;
}
.consultation-form__container form {
    display: flex;
    justify-content: center;
}
.consultation-form__container form > * {
    margin: 0 10px;
}
form input[type="text"] {
    border-radius: 3px;
    background-color: #f7f7f7;
    border: none;
    color: #363636;
    font-size: 20px;
    font-weight: 300;
    padding: 12px 0 12px 16px;
}
form input[type="submit"] {
    font-family: 'Russo One', sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    background-color: #e81710;
    border: none;
    text-transform: uppercase;
    padding: 0px 16px;
    cursor: pointer;
    transition: background-color .2s;
}
form input[type="submit"]:hover {
    background-color: rgba(232, 23, 16, 0.75);
    transition: background-color .2s;
}

/* product characteristics*/
section.characteristics {
    background-color: #fff;
}
.characteristics-title {
    color: #393939;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    padding: 52px 0 35px 0;
}
.characteristics__slider-item {
    display: flex;
    height: 550px;
}
.characteristics__container {
    position: relative;
    padding-bottom: 23px;
}
.characteristics__container .slick-initialized .slick-slide {
    display: flex;
}
/*.characteristics__slider-item > * {
    flex: 1;
}*/
.characteristics__slider-content {
    padding: 169px 48px 0;
}
.characteristics__slider-title {
    color: #fbb040;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
}
.characterictics__slider-text {
    color: #363636;
    font-size: 23px;
    font-weight: 400;
    margin-top: 0;
}
.characterictics__slider-buttons a {
    font-size: 20px;
    display: block;
    width: 318px;
    font-weight: 400;
    text-decoration: none;
    padding: 12px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
}
.characteristics__slider-img {
    width: 50%;
    height: 550px;
    box-sizing: border-box;
}
.characteristics__slider-content {
    padding: 160px 48px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: 50%;
}
.characterictics__slider-buttons a.more {
    color: #393939;
    border: 2px solid #23130d;
    margin-bottom: 8px;
}
.characterictics__slider-buttons a.buy {
    background-color: #fbb040;
    color: #fff;
    padding: 12px;
    margin-top: 8px;
}
.characteristics__container ul.slick-dots {
    display: block;
    background-color: #ebebeb;
    margin: 0;
    position: absolute;
    top: 60px;
    padding: 0;
    border-radius: 20px;
    padding: 0 15px;
}
.characteristics__container ul.slick-dots li {
    display: inline-block;
}
.characteristics__container ul.slick-dots li.slick-active {
    background-image: url(../img/slide-p-active.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.characteristics__container ul.slick-dots button {
    border: none;
    outline: none;
    background-color: #ffffff;
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%);
    background: -o-linear-gradient(90deg, rgba(255, 255, 255, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%);
    background: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 0;
    margin: 5px 7.5px;
    cursor: pointer;
}
.page-wrapper.product button.slick-prev.slick-arrow {
    background: url(../img/charact-prev-arrow.png) no-repeat 0 0;
    width: 12px;
    height: 22px;
    z-index: 2;
    top: 69px;
}
.page-wrapper.product button.slick-next.slick-arrow {
    background: url(../img/charact-next-arrow.png) no-repeat 0 0;
    width: 12px;
    height: 22px;
    z-index: 2;
    top: 69px;
}

/* certificates */
section.certificates .section-container {
    background-color: #393939;
    padding: 33px 54px;
}
.certificates-title {
    color: #fbb040;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
}
.certificates-items {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* beverages */
section.beverages {
    background-color: #fff;
}
section.beverages .section-container {
    padding: 55px 70px;
}
.beverages-title {
    color: #393939;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Russo One', sans-serif;
}
.beverages-items {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.beverages-item__container {
    border-width: 2px;
    border-color: #f0f0f0;
    border-style: solid;
    background-color: #ffffff;
    width: 310px;
    height: 296px;
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    align-items: center;
    border: 2px solid #f0f0f0;
}
.beverages-item__title a {
    color: #000000;
    font-size: 26px;
    font-weight: 300;
    text-decoration: underline;
}
.beverages-item__title {
    margin-top: 30px;
}
.beverages-item__title a:hover {

    text-decoration: none;
}
.beverages-item__img {
    margin-top: 25px;
}
.beverages-item {
    margin-top: 27px;
}

/* present */
section.present.munshain {
    background: #060606 url(../img/moonshine-g.png) no-repeat right 53px;
    height: 825px;
}
section.present.kapitan {
    background: #060606 url(../img/kapitan-g.png) no-repeat right 0;
    height: 825px;
}
section.present.butleger {
    background: #060606 url(../img/bootleger-g.png) no-repeat 70% 80px;
    height: 825px;
}
section.present.schukina-pro {
    background: #060606 url(../img/schukina-pro-g.png) no-repeat 70% 0;
    height: 825px;
}
section.present.schukina {
    background: #060606 url(../img/schukina-g.png) no-repeat 70% 40px;
    height: 825px;
}
.present-title {
    color: #fbb040;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    padding: 82px 0 0 46px;
}
.schukina .present-title {
    color: #fbb040;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;
    padding: 82px 0 0 442px;
}

/* how-work */
section.how-work {
    background: url(../img/how-work-bg.jpg) repeat 0 0;
    padding: 48px 0;
}
.how-work-title {
    font-family: 'Russo One', sans-serif;
    color: #363636;
    font-size: 35px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.how-work-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.how-work__content input[type="radio"] + label {
    color: #363636;
    font-size: 20px;
    display: block;
    margin: 20px 0;
}
.how-work__content-text {
    max-width: 315px;
    color: #363636;
    font-size: 20px;
    font-weight: 400;
    margin-top: 88px;
}
.how-work__content-radio {
    margin-top: 40px;
}

/* popup */
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    width: 785px;
}
.form-container {
    background-color: #363636;
    padding: 45px 70px 35px;
    margin-top: 71px;
}
.form-header {
    font-family: 'Russo One', sans-serif;
    color: #fbb040;
    font-size: 44px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.form-container form {
    margin-top: 50px;
}
.form-container form input[type="text"] {
    width: 314px;
}
.form-container form > * {
    margin: 10px 0;
}
.form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-container input[type="submit"] {
    padding: 11px 16px;
    background-color: #f73c35;
}
.mfp-close-btn-in .mfp-close {
    color: #393939;
    background: #fbb040 url(../img/close-popup.png) no-repeat center center;
}
.mfp-close {
    width: 60px;
    height: 60px;
    line-height: 0;
    opacity: 1;
    font-size: 0;
    font-weight: 100;
    font-family: 'Roboto', Baskerville, monospace;
}
.choice-buy {
    display: flex;
    width: 314px;
}
.choice-buy > * {
    margin-right: 19px;
}
.choice-buy input[type="radio"] + label {
    font-size: 20px;
}
.form-container span.label {
    width: 314px;
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
}
.form-container span.price {
    font-size: 35px;
    color: #fff;
    line-height: 25px;
}
.form-container input[type="submit"] {
width: 314px;
}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    color: #FFF;
    right: 0;
    text-align: right;
    padding-right: 6px;
    width: 60px;
}
img.mfp-img {
    padding: 60px 0 40px;
}
































